:root{
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);


  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*--------------------Layout---------------*/


section{
  margin-bottom: 2rem;
}




section > span{
  display: block;
}




.img-container{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap:1rem;
}

.img-container > div{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
span{
  display: block;
  
}




/*------------------Color & Fonts--------------------------*/
 
body{ 
  font-family: "Barlow Semi Condensed", sans-serif;
}

img{
  border-radius: 50px;
  border: 3px solid var(--Very-dark-grayish-blue);
  
}

section{
  border-radius: 8px;
  padding:2.5em;
}

.light-font{
  color:var(--White)
}

.light-font p{
  color:var(--Light-gray)
}


.dark-font{
  color:var(--Very-dark-grayish-blue)
}
.card-1{
 background-color: var(--Moderate-violet);
 background-image: url(images/bg-pattern-quotation.svg);
 background-repeat: no-repeat;
 background-position: top right 17%; 
 background-size: 10rem;
  }
 
  .card-2{
 background-color: var(--Very-dark-grayish-blue);
  }
 
 
  .card-3{
 
  }
  .card-4{
     background-color:var(--Very-dark-blackish-blue);
  }


  .card-5{
     
  }
   

p{
  line-height: 1.5em;
  font-size: 0.8125rem;
}















 @media  (min-width:1030px){
 
  section{
    margin-bottom:0;
  }
  .container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2.5em; 
    grid-auto-flow:dense,
 }

 .card-1{
 grid-area: 1/1/2/3;
 }

 .card-2{

 }


 .card-3{

 }
 .card-4{
    grid-area:2/2/3/4;
 }
 .card-5{
   grid-area:1/4/-1/5
 }
  
 }